# Logs
*.log

secrets/credentials.js

# Datas
datas/*.xlsx
datas/*.csv
datas/*.csv
tests/datas/TEST_COVID_PH_CASE.csv

# NYX
.nyc_output

# eclipse lock configuration
*.lock

# compile documentation
coverage

# compile documentation
.coveralls.yml

# Dependency directory
node_modules

.editorconfig

# Optional npm cache directory
.npm
