# Logs
*.log

#env
env
.env.*

#secret
secrets

# Datas
datas
*.xlsx
*.csv

# NYX
.nyc_output

# eclipse lock configuration
*.lock

# compile documentation
coverage

# compile documentation
.coveralls.yml

# Dependency directory
node_modules

.editorconfig

# Optional npm cache directory
.npm
